@model IEnumerable<TemplateBootstrap.Models.TemplateBootstrap>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Funcionários</h1>
    <p class="mb-4">Listagem de Funcionários.</p>

    <p>
        <a class="btn btn-primary btn-icon-split btn-sm" href="~/Funcionario/Create">
            <span class="icon text-white">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text text-white">Adicionar</span>
        </a>
    </p>
</div>
